body {
    background-color:bisque;
    text-align: center;
}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:inline;
    font-size: 20px;
    color:darkgreen;
}
#header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    text-transform: lowercase;
    text-shadow: green;
    font-weight: bold;
}